.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#calculadora {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    background-color: #44dee9;
    border-radius: 15px;
    padding: 25px;

}
#display {
    grid-column: span 4;
    border: 1px solid black;
    background-color: rgb(238, 228, 228);
    text-align: right;
    padding-bottom: 15px;
    padding-top: 20px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    border-radius: 15px;
    
}
.column-2{
    grid-column: span 2;
}
button{
    cursor: pointer;
    margin: 5px;
    border-radius: 35px;
    border: none;
    background-color: rgb(6, 163, 155);
    font-size: 25px;
    color: white;
    font-family: digital-7;

}
button:active{
    background-color: rgb(77, 138, 230);
}